body {
    margin: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(27, 27, 27);
}

.ball {
    width: var(--ballWidth);
    height: var(--ballWidth);
    border-radius: 50%;
    position: absolute;
    top: var(--y);
    left: var(--x);
    overflow: hidden;
    transform: translate(- var(--radius), - var(--radius));
    z-index: 1;
}

.ball .fill {
    width: 100%;
    height: 100%;
    position: relative;
    background: var(--color);
}

.ball .fill::before {
    content: '';
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    background: radial-gradient(circle at 40% 5%, #fff, rgba(255, 255, 255, 0) 58%);
    filter: blur(5px);
}

span {
    height: 3px;
    width: var(--distance);
    background-color: red;
    position: absolute;
    top: var(--connectY);
    left: var(--connectX);
    transform: translate(var(--ballRadius), var(--ballRadius)) rotate(var(--rotate));
    transform-origin: left;
    opacity: var(--opacity);
}